* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#bg {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}
#quote-box {
  width: 35vw;
  height: 40vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5em;
  padding: .5em;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 7px 5px #00010177;
}
.author-row {
  text-align: right;
  padding-right: 2em;
}
.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.button-row>span {
  text-align: right;
  width: 50%;
}
button:hover {
  opacity: 87%;
  cursor: pointer;
}
#new-quote {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  background-color: black;
  border: none;
}
.button-row .brand {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 6px;
  border: none;
  margin-left: -1em;
}
.button-row .brand i {
  font-size: 2em;
  color:white;
}
.brand:last-of-type{
  margin-left: -8%;
}
#tests {
  z-index: 7;
}